{% extends 'blog/base.html' %}

{% block body %}
<h3>Django Blog Website</h3>

{% for post in posts %}

<div class="row">
	<div class="col s12 m12">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">{{ post.title }}</span>
				<p><i class='material-icons' style='font-size: 1rem'>access_time</i> {{ post.published_date }}</p>
				<p><i class='material-icons' style='font-size: 1rem'>edit</i> {{ post.author }}</p>
			</div>
			<div class="card-action">
				<a href="{% url 'blog' post.id %}">Read more</a>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}

